*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.out
*.pdf
*.ps
*.pyg
*.toc
*.backup
*~
*.fls
*.fdb_latexmk
!SlackRecController1.pdf
!SlackRecController2.pdf
!FASTERNamespaces.pdf
!Riconfigurazione1D.pdf
!Riconfigurazione2D.pdf
!StrutturaFlusso.pdf
!Methodology.pdf
!FPL_*.pdf
!templates.pdf
!FPL_Reconfs.pdf
!bestClock.pdf
!bestObjective.pdf
!*TaskGraph.pdf
